<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Formulaire Produit</title>
</head>
<body>
<h2>Formulaire d'ajout de Produit</h2>
<form action="/submit_product" method="post">
  <label for="name">Nom du produit:</label><br>
  <input type="text" id="name" name="name" maxlength="50"><br>
  
  <label for="nb_licenses">Nombre de licences:</label><br>
  <input type="number" id="nb_licenses" name="nb_licenses"><br>
  
  <label for="nb_used_licenses">Nombre de licences utilisées:</label><br>
  <input type="number" id="nb_used_licenses" name="nb_used_licenses"><br>
  
  <label for="provider_id">ID du fournisseur:</label><br>
  <input type="number" id="provider_id" name="provider_id"><br>
  
  <label for="site_id">ID du site:</label><br>
  <input type="number" id="site_id" name="site_id"><br>
  
  <input type="submit" value="Soumettre">
</form>
</body>
</html>
